.navbar-brand{
    color: black;
    font-family: serif;
    font-size: 30px;
}
.nav a{
    color: black
    
}
.nav a:hover{
    color: rgb(201, 52, 52);
}
.btn{  
    margin-left: 10px;
    color: black;
    padding-left: 10px;
    font-size: 15px;
    background-color: whitesmoke;
}

.property{
    color: black;
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
}

.dropdown-menu{
    border-radius: 20px;
    border-color: brown;
}

.dropdown-menu li a:hover{
    font-size: 20px;
    border-radius: 20px;
    
}
